<header class="navbar navbar-inverse normal" role="banner">
  		<div class="container">
    		<div class="navbar-header">
		      	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
      			<a href="home.htm" class="navbar-brand">Multitech Technical Services</a>
    		</div>
    		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      			<ul class="nav navbar-nav">
      				<li class="dropdown">
      					<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">MEP  Services<span class="caret"></span></a>
	              		<ul class="dropdown-menu" aria-labelledby="themes">
	                		<li><a href="hvac.htm">HVAC System services</a></li>
			                <li><a href="ac.htm">Air Conditioning - Refrigeration</a></li>
			                <li><a href="electrical.htm">Electrical</a></li>
			                <li><a href="epabx.htm">EPABX - LAN Networking services</a></li>
			                <li><a href="cctv.htm">CCTV Services</a></li>
			                <li><a href="satellite.htm">Satellite Receiving Equipment Installation Services</a></li>
			                <li><a href="plumbing.htm">Plumbing</a></li>
			            </ul>
        			</li>
        			<li>
              			<a href="approval.htm">Approval Services</a>
            		</li>
      				<li class="dropdown">
        				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Home Care Services<b class="caret"></b></a>
          				<ul class="dropdown-menu">
							<li><a href="maintenance.htm">Maintenance - Installation Services</a></li>
		                	<li><a href="cleaning.htm">Cleaning Services</a></li>
		                	<li><a href="interior.htm">Interior Decoration Services</a></li>
				        </ul>
        			</li>
        			<li class="dropdown">
          				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Packages<b class="caret"></b></a>
          				<ul class="dropdown-menu">
							<li><a href="regular.htm">Regular Care Package</a></li>
		                	<li><a href="classic.htm">Classic Care Package</a></li>
		                	<li><a href="premium.htm">Premium Care Package</a></li>
				        </ul>
        			</li>
        			<li>
			          	<a href="offers.htm">Offers</a>
          			</li>
      			</ul>
    		</nav>
  		</div>
	</header>